@use '../../../../../styles.scss' as *;
@use 'sass:color';

.angpao-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  color: $color-text-secondary;
  text-align: center;
}

.angpao-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* BLOCK: .angpao-card */
.angpao-card {
  background-color: $color-bg-dark;
  border-radius: 8px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid color.adjust($color-bg-dark, $lightness: -5%);
}

/* ELEMENT: .angpao-card__logo */
.angpao-card__logo {
  flex: 0 0 100px;
}

/* ELEMENT: .angpao-card__bank-name */
.angpao-card__bank-name {
  font-weight: 600;
  color: $color-white;
}

/* ELEMENT: .angpao-card__details */
.angpao-card__details {
  flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

/* ELEMENT: .angpao-card__number */
.angpao-card__number {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  color: $color-white;
}

/* ELEMENT: .angpao-card__owner */
.angpao-card__owner {
  font-size: 0.9rem;
  color: $color-text-secondary;
}

/* ELEMENT: .angpao-card__button */
.angpao-card__button {
  background-color: $color-netflix-red;
  color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 80px;

  &:hover {
    background-color: color.adjust($color-netflix-red, $lightness: -10%);
  }
}
