<div class="countdown-container">
  <div class="countdown-block">
    <span class="countdown-block__number">{{ days }}</span>
    <span class="countdown-block__label">Hari</span>
  </div>
  <div class="countdown-block">
    <span class="countdown-block__number">{{ hours }}</span>
    <span class="countdown-block__label">Jam</span>
  </div>
  <div class="countdown-block">
    <span class="countdown-block__number">{{ minutes }}</span>
    <span class="countdown-block__label">Menit</span>
  </div>
  <div class="countdown-block">
    <span class="countdown-block__number">{{ seconds }}</span>
    <span class="countdown-block__label">Detik</span>
  </div>
</div>
